@inherits RecomendacionDimensionalBase

@if (Version == "V1")

{
    <h2> Gastar 2000 Gemas en Regalos</h2>

    <p> Usar regalos en el nivel 2.</p>


    <p>
        El tiempo de sobra que dará en dicha estrategia es de hora 2 horas. El tiempo que da las mentas en
        este nivel es de 40 minutos adicionales
    </p>

    <hr />

    <h2> Gastar 3000 Gemas en Regalos</h2>

    <p>
        Usar regalos en el nivel 2 y adicional tienes que responder apenas la primera pregunta
        y esperar un reset, con el objetivo de conservar mas mentas para el siguiente nivel
    </p>

    <p>
        El tiempo de sobra que dará en dicha estrategia es de hora 8 horas con 10 minutos
    </p>

    <hr />

    <h2> Ojo</h2>

    <p>
        En los niveles mas altos, no comprar regalos sino mentas, ya que apartir del nivel 3 te
        exigen mayor cantidad de regalos para omitir preguntas.
    </p>


    <p>
        Ejemplo: tienes que comprar 4 regalos de 1000 gemas en el nivel 3 para omitir 2 preguntas
    </p>
}
else

{
    <h2> Gastar 2000 Gemas en Regalos</h2>

    <p> Usar regalos en el nivel 2.</p>


    <p>
        El tiempo de sobra que dará en dicha estrategia es de hora 6 horas. El tiempo que da las mentas en
        este nivel es de 40 minutos adicionales
    </p>

    <hr />

    <h2> Gastar 3000 Gemas en Regalos</h2>

    <p> Usar regalos en el nivel 2.</p>

    <p>
        El tiempo de sobra que dará en dicha estrategia es de hora 12 horas con 50 minutos.
    </p>

    <hr />

    <h2> Ojo</h2>

    <p>
        En los niveles mas altos, no comprar regalos sino mentas, ya que apartir del nivel 3 te
        exigen mayor cantidad de regalos para omitir preguntas.
    </p>


    <p>
        Ejemplo: tienes que comprar 4 regalos de 1000 gemas en el nivel 3 para omitir 2 preguntas
    </p>
}



