@inherits RadioButtonBase

@{ 

    string Style = RadioReadonly ? "pointer-events: none;" +
                                   "cursor: not-allowed;" +
                                   "background-color: #e9ecef;"
                                 : "cursor: pointer";
}

<EditForm Model="RadioValue">
    <InputRadioGroup @bind-Value="RadioValue" id="@ID" >
        <div class="form-inline">
            @foreach (var item in Opciones)
            {
                <div style="padding: 0px 20px 0px 0px">
                    <InputRadio Value="item" style="@Style"/>
                    <text>&nbsp;</text>@item
                </div>
            }
        </div>
    </InputRadioGroup>
</EditForm>

