@inherits TabDatingBase

<div class="form-group row">

    
    <TabSet SizeSM="12">

        <Tab Titulo="Capitulo 1">

            <TabDatingCapitulo1 />

        </Tab>

        <Tab Titulo="Capitulo 2">

            <TabDatingCapitulo2 />

        </Tab>

        <Tab Titulo="Capitulo 3">

            <TabDatingCapitulo3 />

        </Tab>

        <Tab Titulo="Capitulo 4">

            <TabDatingCapitulo4 />

        </Tab>

    </TabSet>


   


</div>
