.footer[b-z0c90z0nk6] {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #155C70;
    text-align: center;
    font-size: 1.25rem;
    color: white;
    user-select: none;
    z-index: 999;
}

a[b-z0c90z0nk6] {
    text-decoration: none;
    color: white;
}