@inherits RecomendacionDatingBase

@if (Version == "V1")

{
    <h2> Gastar 2400 Gemas en Pociones</h2>

    <p> Usar pociones en el capitulo 1.</p>


    <p>
        El tiempo de sobra que dará en dicha estrategia es de hora 5 horas con 40 minutos. por cada 300 gemas adicionales
        en la compra de pociones dará 50 minutos adicionales
    </p>

    <strong>si es un revival y completaste el evento o lo dejaste en el capitulo 4, no usar esta estrategia </strong>

    <hr />

    <h2> Gastar 3600 Gemas en Cristales (en Caso de un Revival las Gemas Disminuye)</h2>

    <p> Usar cristales en el capitulo 4.</p>

    <p>
        El tiempo de sobra que dará en dicha estrategia es un 1 dia con 1 hora con 20 minutos
    </p>

    <p>
        por cada poción que se compra en este capitulo, el tiempo aumenta en 20 minutos
    </p>
}
else

{
    <h2> Gastar 2400 Gemas en Pociones</h2>

    <p> Usar pociones en el capitulo 1.</p>


    <p>
        El tiempo de sobra que dará en dicha estrategia es de hora 5 horas con 40 minutos. por cada 300 gemas adicionales 
        en la compra de pociones dará 50 minutos adicionales
    </p>

    <strong>si es un revival y completaste el evento o lo dejaste en el capitulo 4, no usar esta estrategia </strong>

    <hr />

    <h2> Gastar 3600 Gemas en Cristales (en Caso de un Revival las Gemas Disminuye)</h2>

    <p> Usar cristales en el capitulo 4.</p>

    <p>
        El tiempo de sobra que dará en dicha estrategia es un 1 dia con 1 hora con 20 minutos
    </p>

    <p>
        por cada poción que se compra en este capitulo, el tiempo aumenta en 20 minutos
    </p>

}



