.valid.modified:not([type=checkbox])[b-5y27cpl49x] {
    outline: 1px solid #26b050;
}

input[type='checkbox'][b-5y27cpl49x] {
    cursor: pointer;
}

    input[type='checkbox'][readonly][b-5y27cpl49x] {
        pointer-events: none !important;
        cursor: not-allowed;
        background-color: #e9ecef;
    }